.desktop {
	background: url(@assets/desktop/welcometothecomputer.png), rgb(0, 128, 255);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
